$black: #000000;
$gray: #666666;
$gray-dark: darken($gray, 20);
$green: #20b44c;
$green-dark: darken($green, 5);
$green-light: #8AB509;
$orange: #f58321;
$red: #c4161c;
$white: #ffffff;

$main-background-color: #f5f5ef;
$main-color: $gray-dark;

$header-background-color: #303539;
$header-color: #d2d6da;

$footer-background-color: #303236;
