body {
  padding-top: 76px;
}

/**
 * Hack to avoid 17px padding-right on <body> when opening a modal (Bootstrap)
 * @see http://stackoverflow.com/questions/19337238/twitter-bootstrap-modal-pushes-html-content-to-the-left
 */
// html { overflow: hidden; height: 100%; }
// body { overflow: auto; height: 100%; }
// .modal-open { overflow: auto; }
