{% set head_title = 'Users' %}

{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
  <p class="text-right">
    <a href="{{ path('user_add') }}" type="button" class="btn btn-default">
      <i class="fa fa-fw fa-plus"></i>
      New user
    </a>
  </p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in entities %}
        <tr>
          <th scope="row">1</th>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
