{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% set head_title = (postId ? 'Edit' : 'New') ~ (isPage ? ' page' : ' article') %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
  <h1 class="page-header">{{ head_title }}</h1>

  {{ form_start(form) }}
    {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
